:root {
    --white: #FFFFFF;
    --royal-blue: #3457BF;
    --cornflower-blue: #4966BF;
    --baby-blue: #8DCBF2;
    --dark-maroon: #730909;
    --ghost-white: #F8F9FD;
    --dark-gray: #333333;
    --light-gray: #d6dadf;
  }
  